{% extends 'base.html.twig' %}
{% block title %}Symfony3 Blog{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ url('homepage') }}">Symfony3 Blog</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url('homepage') }}">Ana Sayfa</a>
                    </li>
                    {% for category in categories %}
                        <li>
                            <a href="{{ category.id }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header" style="background-image: url('{{ asset('img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Symfony3 Blog</h1>
                        <hr class="small">
                        <span class="subheading">Symfony3 ile örnek blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in articles %}
                    <div class="post-preview">
                        <a href="{{ path('article_show', {'slug': article.slug}) }}">
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ article.content }}
                            </h3>
                        </a>
                        <p class="post-meta">{{ article.createdAt|date('Y-m-d') }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Symfony3 Blog 2017</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
